%h1
  You've been invited to #{@page.patient_name.possessive} Bedside

%p 
  Dear #{@user.name}, 

%p 
  One of #{@page.patient_name.possessive} loved ones has created a Bedside page to help everyone stay updated on #{@page.patient_name.possessive} progress. 

%p
  To see updates, schedule a visit or to send well wishes, 
  = link_to "go to #{@page.patient_name.possessive} Bedside page", page_url(@page)

