Welcome to Bedside
= ""
Dear #{@user.name}, 
= ""
Hospital stays aren't fun, but we can make them better.
= ""
Bedside helps you keep friends and family updated, coordinate visitors and gifts, and make your loved one's stay a little less lonely. 
= ""
We hope you find Bedside helpful!
= ""
