.modal.fade.in
  = simple_form_for(@user, :remote => true, :html => {:class => 'form-vertical' }) do |f|
    .modal-header
      %button.close{'type'=>'button','data-dismiss'=>"modal", 'aria-hidden'=>'true'}
        =raw '&times;'
      %h3 Edit your profile

    .modal-body
      = f.error_notification
      = f.input :name, :label => 'Name'
      = f.input :email, :label => 'Email'
      = f.input :password, :label => 'Password'
      = f.input :password_confirmation, :label => 'Confirm Password'
    .modal-footer
      %a.btn{:href=>"#",'data-dismiss'=>"modal"} Close
      = f.error :base
      = f.button :submit, 'Save', :class => 'btn-primary'