- if @page.can_edit?(current_user)
  %button.btn.btn-mini.pull-right{"data-attribute" => "location", "data-type" => "edit-button"} Edit
%h4.heading.heading-1
  Location
  %br/
.location-container
  Hospital
  %p.info-text
    #{@page.hospital}
    %br/
  Room
  %p.info-text
    #{@page.room}
    %br/
  Visiting hours
  #{simple_format(@page.visiting_hours, class: "info-text")}    
.location-editable-container.hidden  
  = form_for @page, remote: true, html: {id: "location-edit-form"} do |f|
    %p
      %br
        Hospital
      = f.text_field :hospital, placeholder: "hospital"
      %br
      Room
      %br
      = f.text_field :room, placeholder: "hospital"
      %br
      Visiting hours
      = f.text_area :visiting_hours, placeholder: "e.g. \n Weekdays: 9 AM - 9 PM\n Weekends: 11AM - 5PM"
    = f.submit"Save", class: "btn", "data-attribute" => "location", "data-type" => "save-button"
    %button.btn{"data-attribute" => "location", "data-type" => "cancel-button"} 
      Cancel