- if @page.can_edit?(current_user)
  %button.btn.btn-mini.pull-right{"data-attribute" => "overview", "data-type" => "edit-button"} Edit
%h4.heading.heading-1
  How's #{@page.patient_name} doing?
  %br/
.overview-container
  -if @page.overview.blank?
    %p.info-text 
      Add some general info about the patient's condition.
    %p.info-text
      You'll be able to post updates below as the situation changes.
  -else 
    %p
      #{simple_format(@page.overview, class: "info-text")} 
.overview-editable-container.hidden  
  = form_for @page, remote: true, html: {id: "overview-edit-form"} do |f|
    %p
      = f.text_area :overview, placeholder: "Add some general info about Susan's condition."
      %br
      = f.submit"Save", class: "btn", "data-attribute" => "overview", "data-type" => "save-button"
      %button.btn{"data-attribute" => "overview", "data-type" => "cancel-button"} 
        Cancel    