.full-image-bg
  #getting-started-form
    %h1.heading
      Great!
      %br
    .dom-body-text
      %p.p-1 Now, let's create a Bedside page. 
      %p.p-1 This page will the place where family, friends, and visitors get info and updates.
    = simple_form_for(@page, :html => {:class => 'form-vertical' }) do |f|
      = f.error_notification
      = f.input :patient_name, :autofocus => true
      = f.input :hospital, :label => 'Hospital'
      = f.input :room
      = f.input :visiting_hours
      = f.button :submit, 'Create Page', :class => 'btn-primary'
  %br/

