.modal.fade.in
  
  .modal-header
    %button.close{'type'=>'button','data-dismiss'=>"modal", 'aria-hidden'=>'true'}
      =raw '&times;'
    %h3 Invite people to view this page

  .modal-body
    #modal-alert.alert.alert-success Invite sent
    %h4 Who can see this page:
    .well.well-small.scrollable.invitees
      %table.table.table-striped
        %tbody
          -@page.users.each do |u|
            %tr
              %td.user_name
                =u.name
              %td.user_email
                =u.email

    %h4 Add someone
    = simple_form_for([@page,@page_participation], :remote => true, :html=> {:class => 'form-inline'}) do |f|
      = f.error_notification
      = f.button :submit, 'Invite', :class => 'btn pull-right'
      = f.input_field :name, :placeholder => 'name'
      = f.input_field :email, :placeholder => 'email'
     
  .modal-footer
    %a.btn{:href=>"#",'data-dismiss'=>"modal"} Done
    