!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Bedside"
      %meta{:content => content_for?(:description) ? yield(:description) : "Bedside", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        %link{:href => "https://fonts.googleapis.com/css?family=Limelight|Flamenco|Federo|Yesteryear|Josefin Sans|Spinnaker|Sansita One|Handlee|Droid Sans|Oswald:400,300,700", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
        = javascript_include_tag "application"
        = filepicker_js_include_tag
        = csrf_meta_tags
        = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    #main{:role => "main"}
      = render 'layouts/messages'
      = yield
          
